.container-separator{
    display: flex;
    align-items: center;
    position: relative;
    /* width: 180px; */
    margin: 10px 0 0;
    border: 1px solid red;
}

.heading-separator{
    display: flex;
    align-items: center;
    position: relative;
    width: 180px;
    margin: 10px 0 0 0;
    border: 1px solid green;
}

.separator-line{
    width: 10rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 2px;
    /* background-color: #81DB42; */
    /* var(--primary-green); */
    background-color: var(--primary-blue-light);
}

.separator-blob{
    height: 10px;
    /* width: 100%; */
    position: absolute;
    display: flex;
    justify-content: center;
}

.separator-blob div{
    width: 35px;
    border-radius: 10px;
    background-color: #81DB42;
    /* Por alguna razón no toma la variable verde  */
}