/******** TYPED TEXT ********/
.typed-text {
  /* font-size: 2rem; */
  color: var(--primary-white);
}

.main-info h1 {
  font-size: 1.7rem !important;
}

.typed-text {
  font-size: 2rem !important;
}

.greetings-name{
  color: var(--primary-geen);
  font-weight: 500;
}
