/******** PROFILEPICTURE ********/
.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0px 0px var(--primary-blue-light);
  border-radius: 50%;
  min-width: 3rem;
  min-height: 3rem;
  margin: 0;
  max-height: 16rem;
  max-width: 16rem;
}

.profile-picture-background {
  height: 92%;
  width: 92%;
  background-image: url("/images/profile.jpg");
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: top;
  max-height: 16rem;
  max-width: 16rem;
  min-width: 3rem;
  min-height: 3rem;
}

.profile-picture-background:hover {
  transform: scale(1.07);
  transition: 1s ease-out;
}
