/******** ICONS ********/
.icons-wrapper {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  padding: 0.7rem;
  overflow: hidden;
  color: var(--primary-white);
}

.item {
  width: 100px;
  height: 100px;
  margin: 0.7rem;
}

.container-waves {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  z-index: 1;
}
