/******** ICONS ********/
.icons-wrapper {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  padding: 0.7rem;
  overflow: hidden;
  color: var(--primary-white);
}

.item {
  width: 100px;
  height: 100px;
  margin: 0.7rem;
}
