.container-background {
  color: var(--primary-white);
  background-color: var(--primary-blue) !important;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

/******** ICONS ********/
.icons-wrapper {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  padding: 0.7rem;
  overflow: hidden;
  color: var(--primary-white);
}

.item {
  width: 100px;
  height: 100px;
  margin: 0.7rem;
}

.item-1 {
  background: url(../../icons/JavaScript.svg) no-repeat;
}

.item-2 {
  background: url(../../icons/node.svg) no-repeat;
}

.item-3 {
  background: url(../../icons/css3-logo.svg) no-repeat;
}

.item-4 {
  background: url(../../icons/react-logo-black.svg) no-repeat;
}
