@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

:root {
  --primary-white: #fff;
  /* --primary-green: #81db42; */
  /* --green:#81db42; */
  --primary-green: #40977b;
  --green: #40977b;
  /* --primary-orange: #dc592b; */
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-blue: #24263b;
  --primary-blue-light: #234261;
  --primary-green-light: #859e51;
  --primary-gray: #eff0f1;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #eff0f1 !important;
}

.flex-fill {
  flex: 1;
}

/******** NAVBAR ********/

nav {
  z-index: 2;
  background-color: var(--primary-blue) !important;
  font-family: "Roboto Condensed",sans-serif;
}

.logo{
  background: url(/images/logo.png) no-repeat;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  margin-right: 1.3rem;
}

/*--- NAV LINKS ---*/
nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.nav-title {
  color: var(--primary-green);
  font-weight: 500;
  margin-bottom: auto;
}

@media (max-width: 768px) {
  .navbar-brand {
    width: 7rem;
  }
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-green);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-white);
}

/******** HEADER ********/
.header-wraper {
  background-color: darkolivegreen;
  height: 91vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-green);
  text-transform: uppercase;
}

/******** PARTICLES ********/
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

/* This seems don't working */
@media screen and(max-width: 1110px) {
  .profile-picture {
    margin: 0 0px 0 80px;
    box-shadow: 0 1px 0px 0px rgb(213, 218, 157) !important;
  }
}

@media screen and(max-width: 910px) {
  .profile-picture {
    height: 320px;
    width: 320px;
    margin: 0 0 0 4px;
    box-shadow: 0 1px 0px 0px rgb(60, 255, 0) !important;
  }
}

@media screen and(max-width: 810px) {
  .profile-picture {
    margin: 0 !important;
    box-shadow: 0 1px 0px 0px rgb(0, 255, 221) !important;
  }
}

@media screen and(max-width: 375px) {
  .profile-picture {
    height: 275px;
    width: 275px;
    margin-top: -90px;
  }
}

@media (max-width: 574.98px) {
  .profile-picture {
    height: 10rem !important;
    width: 10rem !important;
    margin: 0 !important;
  }

  .container-about {
    margin-top: 5rem !important;
  }

  .fa {
    font-size: 1.5rem !important;
  }

  i {
    padding: 0.5rem !important;
    margin: 1.2rem 0rem;
  }
}

@media (min-width: 575.98px) {
  .profile-picture {
    height: 320px;
    width: 320px;
    margin: 0 0 0 4px;
  }
}

@media (min-width: 767.98px) {
  .profile-picture {
    height: 320px;
    width: 320px;
    margin: 0 0 0 4px;
  }
}

@media (min-width: 991.98px) {
  .profile-picture {
    height: 320px;
    width: 320px;
    margin: 0 0 0 4px;
  }
}

@media (min-width: 1199.98px) {
  .profile-picture {
    height: 320px;
    width: 320px;
    margin: 0 0 0 4px;
  }
}

@media (min-width: 1399.98px) {
  .profile-picture {
    height: 320px;
    width: 320px;
    margin: 0 0 0 4px;
  }
}

.container-background-center {
  color: var(--primary-white);
  background-color: var(--primary-blue-light) !important;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  z-index: 1;
}

.container-background-start {
  /* color: var(--primary-white); */
  /* background-color: var(--primary-blue-light) !important; */
  background-color: var(--primary-gray);
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  z-index: 1;
}

.container-background-end {
  /* color: var(--primary-white); */
  /* background-color: var(--primary-blue-light) !important; */
  background-color: var(--primary-gray);
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: left;
  z-index: 1;
  margin-top: 8rem;
}

.container-waves {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  z-index: 1;
}

.container-about {
  margin-top: 8rem;
  background-color: var(--primary-gray);
}

.container-profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-skills {
  margin-top: 8rem;
  background-color: var(--primary-gray);
}

.container-portfolio {
  margin-top: 8rem;
  background-color: var(--primary-gray);
}
