@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255,0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

/******** NAVBAR ********/

nav{
  z-index: 2;
}

/*--- NAV LINKS ---*/
nav a.nav-link{
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

@media(max-width: 768px) {
  .navbar-brand{
    width: 7rem;
  }
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover{
  border-top: 0.1875rem solid var(--primary-orange);
}

/******** HEADER ********/
.header-wraper{
  background-color:darkolivegreen;
  height: 91vh;
}

.main-info{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  z-index: 1;
}

.main-info h1{
  color: var(--primary-orange);
  text-transform: uppercase;
}

/******** TYPED TEXT ********/
.typed-text{
  font-size: 2rem;
  color: var(--primary-white);
}

.main-info h1{
  font-size: 1.7rem !important;
}

.typed-text{
  font-size: 1.3rem !important;
}

/******** PARTICLES ********/
.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

/******** ICONS ********/
.icons-wrapper{
  display: flex;
  justify-content: center;
  align-self: flex-start;
  padding: .7rem;
  overflow: hidden;
}

.item{
  width: 40px;
  height: 40px;
  margin: 0.7rem;
}

.item-1{
  background: url(icons/html5-logo.svg) no-repeat;
}

.item-2{
  background: url(icons/js-logo-black.svg) no-repeat;
}

.item-3{
  background: url(icons/node-dot.svg) no-repeat;
}

.item-4{
  background: url(icons/react-logo-black.svg) no-repeat;
}

/******** PROFILEPICTURE ********/
.profile-picture{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0px 0px red;
  border-radius: 50%;
  height: 380px;
  width: 380px;
  margin: 0 0px 0 100px;
}

.profile-picture-background {
  height: 92%;
  width: 92%;
  background-image: url('https://gbeto21-api.herokuapp.com/images/me.jpg');
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.profile-picture-background:hover {
  transform: scale(1.07);
  transition: 1s ease-out;
}


/******** ICONS ********/
i{
  color: orangered;
  padding: 8px;
  padding-left: 0px;
}

i:hover{
  transform: scale(1.5);
}

/* This seems don't working */
@media screen and(max-width: 1110px){
  .profile-picture{
    margin: 0 0px 0 80px;
    box-shadow: 0 1px 0px 0px rgb(213, 218, 157) !important;
  }
}

@media screen and(max-width: 910px){
  .profile-picture{
    height: 320px;
    width: 320px;
    margin: 0 0 0 4px;
    box-shadow: 0 1px 0px 0px rgb(60, 255, 0) !important;
  }
}

@media screen and(max-width: 810px){
  .profile-picture{
    margin: 0 !important;
    box-shadow: 0 1px 0px 0px rgb(0, 255, 221) !important;
  }
}

@media screen and(max-width: 375px){
  .profile-picture{
    height: 275px;
    width: 275px;
    margin-top: -90px;
  }
}